*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgb(224 242 254);
}
h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    line-height: 4rem;
}
h4{
    margin-top: 3rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}
.score{
    border: 1px solid black;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#user-score, #comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    padding: 1rem;
    border-radius: 6px;
    display: inline;
}
#reset{
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    padding: 0.8rem;
    border-radius: 6px;
    display: inline;
    margin-left: 1.2rem;
}
#reset:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}